@model GenericSearch.UI.Models.PagedSearchViewModel

@{
    ViewBag.Title = "Paged Search";
}

<div class="row">
    @using (Html.BeginForm("Index", "PagedSearch", FormMethod.Get, new { @class = "form-horizontal" }))
    {
        @Html.EditorFor(m => m.SearchCriteria)
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Apply filters</button>
            </div>
        </div>
    }
    <hr/>
</div>

<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><a href="@Html.GetSortingUrl(this.Model.Data, "Date", this.Request.RawUrl)">Date</a></th>
                <th><a href="@Html.GetSortingUrl(this.Model.Data, "DateNullable", this.Request.RawUrl)">DateNullable</a></th>
                <th><a href="@Html.GetSortingUrl(this.Model.Data, "Integer", this.Request.RawUrl)">Integer</a></th>
                <th><a href="@Html.GetSortingUrl(this.Model.Data, "IntegerNullable", this.Request.RawUrl)">IntegerNullable</a></th>
                <th><a href="@Html.GetSortingUrl(this.Model.Data, "MyEnum", this.Request.RawUrl)">MyEnum</a></th>
                <th><a href="@Html.GetSortingUrl(this.Model.Data, "Text", this.Request.RawUrl)">Text</a></th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in this.Model.Data)
                {
                    <tr>
                        <td>@item.Date</td>
                        <td>@item.DateNullable</td>
                        <td>@item.Integer</td>
                        <td>@item.IntegerNullable</td>
                        <td>@item.MyEnum</td>
                        <td>@item.Text.HighlightKeyWords(this.Model.SearchCriteria.OfType<GenericSearch.Core.TextSearch>().Last().SearchTerm)</td>
                    </tr>
                }
            }
        </tbody>
    </table>
    @Html.GetPager(this.Model.Data, this.Request.RawUrl)
</div>