@model GenericSearch.UI.Models.PagedSearchViewModel
@{
    ViewData["Title"] = "Paged Search";
}
<form method="post">
    @Html.EditorFor(m => m.SearchCriteria)
    <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
            <button type="submit" class="btn btn-info">Apply filters</button>
        </div>
    </div>
</form>
<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th><a paging="this.Model.Data.Paging" property-name="@nameof(GenericSearch.Data.SomeClass.Date)">Date</a></th>
            <th><a paging="this.Model.Data.Paging" property-name="@nameof(GenericSearch.Data.SomeClass.DateNullable)">DateNullable</a></th>
            <th><a paging="this.Model.Data.Paging" property-name="@nameof(GenericSearch.Data.SomeClass.Integer)">Integer</a></th>
            <th><a paging="this.Model.Data.Paging" property-name="@nameof(GenericSearch.Data.SomeClass.IntegerNullable)">IntegerNullable</a></th>
            <th><a paging="this.Model.Data.Paging" property-name="@nameof(GenericSearch.Data.SomeClass.MyEnum)">MyEnum</a></th>
            <th><a paging="this.Model.Data.Paging" property-name="@nameof(GenericSearch.Data.SomeClass.Text)">Text</a></th>
            <th>CollectionString</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in this.Model.Data)
            {
                <tr>
                    <td>@item.Date</td>
                    <td>@item.DateNullable</td>
                    <td>@item.Integer</td>
                    <td>@item.IntegerNullable</td>
                    <td>@item.MyEnum.GetDisplayName()</td>
                    <td>@item.Text.HighlightKeyWords(this.Model.SearchCriteria.OfType<GenericSearch.Core.TextSearch>().First().SearchTerm)</td>
                    <td>@string.Join(", ", item.CollectionString).HighlightKeyWords(this.Model.SearchCriteria.OfType<GenericSearch.Core.TextSearch>().Skip(1).First().SearchTerm)</td>
                </tr>
            }
        }
    </tbody>
</table>
<pager paged-result="this.Model.Data"></pager>